{% load static %}

<html lang="en-US">
  <head>
    <title>The Drink Book</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'contact.css' %}">
  </head>
  <body>
    <ul>
        <li><a class="active" href="../">Home</a></li>
		    <li><a href="../alldrinks">All Drinks</a></li>
        <li><a href="../partydrinks">Party Drinks</a></li>
        <li><a href="../findadrink">Find a Drink</a></li>
        <li><a href="../contact">Contact</a></li>
        <li><a href="../about">About</a></li>
    </ul>
    <h1 class="title">The Drink Book</h1>
    <h2 class="subtitle">Contact</h2>
  </body>
  <footer>
    <p>&copy; Developed by Nate Weber &#124; Privacy Policy</p>
  </footer>
</html>