{% extends "base_drink.html" %}
{% load static %}
{% block content %}
<div>
  <h1 class="title">{{ drink.name|capfirst }}</h1>
  <p>ABV: {{ drink.abv }}</p>
  <p style="padding-bottom: 25px;">{{ drink.description }}</p>
  <table align="center">
    <tr>
      <td>
        {% static "images/" as image %}
        <img src="{{ image }}{{ drink.name }}.png" alt='{{ drink.name }} image'>
      </td>
      <td>
        <table>
          <h3>Ingredients</h3>
          {% if drink.ingredient0 %}
            <div>{{ drink.ingredient0 }}</div>
          {% endif %}

          {% if drink.ingredient1 %}
            <div>{{ drink.ingredient1 }}</div>
          {% endif %}

          {% if drink.ingredient2 %}
            <div>{{ drink.ingredient2 }}</div>
          {% endif %}

          {% if drink.ingredient3 %}
            <div>{{ drink.ingredient3 }}</div>
          {% endif %}

          {% if drink.ingredient4 %}
            <div>{{ drink.ingredient4 }}</div>
          {% endif %}

          {% if drink.ingredient5 %}
            <div>{{ drink.ingredient5 }}</div>
          {% endif %}

          {% if drink.ingredient6 %}
            <div>{{ drink.ingredient6 }}</div>
          {% endif %}

          {% if drink.ingredient7 %}
            <div>{{ drink.ingredient7 }}</div>
          {% endif %}
        </table>
      </td>
    </tr>
</div>
{% endblock %}
