/* CSS stylesheet for individual drinks */

/* The Drink Book Title */
.title {
  padding: 10px;
  margin: 0px;
  text-decoration: underline overline dotted rgb(48, 240, 224);
  font-size: 55px;

}

h2 {
  font-size: 30px;
}

/* Top menu nav bar*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  }
  
  li {
  float: left;
  }
  
  li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  }
  
  li a:hover {
  background-color: #111;
  }

/* MAIN BODY */
body {
  background-color: #bbbbbb; /* Light gray color */
  font-family:"Courier New", monospace;
  text-align: center;
}

h1 {
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 50px;
}

table {
  background-color: #9ee8ff;
  box-shadow: 7px 7px 7px rgba(0, 175, 206, 0.75);
  padding: 50px;
  border-collapse: collapse;
}

td {
  padding: 10px;
  text-align: center;
}

img{
  width: 250px;
  height: 250px;
}

/* FOOTER */
footer{
    bottom: 0;
    position: absolute;
    width: 99%;
    text-align: center;
    color: black;
}
